body{
	font-family:"Tahoma";
	background-color: #CEE5DD;
}
nav
{
	border: 1px  solid black;
	height:70px;
	width:100%;
	top:0;
	right:0;
	left:0;
	position:fixed;
	z-index:100;
	padding:10px;
	background-color: #6C8299;
}
#timeline, #profile_left_infos, .modal-header{
	background-color: #A3C3E5;
}
#pageDisplay
{
	padding-top:80px;
	width: 1500px;
	margin:auto;
}
#ongletSelect{
	margin:auto;
}
#timeline{
	float: left;
	width: 50%;
	margin:0 15px;
}
#timeline, #profile_left_infos{
	border-radius: 8px;
	border:1px solid black;
}


#timeline textarea{ 
	resize:none;
	width:50%;
	margin: auto;
	height: 30px;
	transition: background-color 0.3s linear 0s;
	background-color: #555555;
	border:none;
	padding: none;
}
#timeline textarea:focus{
	height: 50px;
	background-color: white;
}
#timeline form{
	text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-body input, .modal-body button{
	display: block;
	margin:7px auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer{
	color:red;
	text-align: center;
}
#k_left
{
	float:left;
}

#nyan_nyan
{
	margin: 0 auto;
	width:480px;
	height:720px;
}

#nyan_nyan img
{
	width:100%;
	height:100%;
}

#k_right
{
	float:right;

}

nav img
{
	width:50px;
	height:50px;
}

button, input[type="submit"]{
	background-color: #ff5252;
	cursor: pointer;
	color: white;
}

input, button{
	border-radius: 11px;
	font-weight: 900;
	border:1px solid black;
	height: 35px;
	text-align: center;
	margin-top: 20px;
}

.spacer
{
	clear:both;
}

a
{
	text-decoration:none;
	cursor:pointer;
	color:black;
}


ul
{
	list-style-type:none;
	margin:0;
    padding: 0;
}

ul li 
{
	display:inline-block;
}

#connectLink a
{
	margin-right:10px;
	color:white;
	font-weight:bold;
	padding:10px;
	right:100px;
	text-align:center;
}

input[type="search"]
{
	-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height:25px;
  text-align:center;
  padding:5px;
}

#profile_left_infos
{
	float:left;
	width:16%;
}

#profile_photo
{
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
}

#profile_name
{
	font-size:22px;
	font-weight:bold;
	text-align:center;
}

#profile_photo img
{
	width:100%;
}

#profile_pseudo
{
	font-size:16px;
	font-style:italic;
	text-align:center;
}

#searchResult
{
	width:70%;
	margin:auto;
}

.result_photo img
{
	width:100px;
	height:100px;
}

.result_photo
{
	width:40%;
	margin:auto;
}

.result_name
{
	font-weight:bold;
	font-size:17px;
	width:100%;
	height:20px;
	text-align:center;
}

.result_pseudo
{
	font-size:13px;
	width:100%;
	height:20px;
	font-style:italic;
	text-align:center;
}
.result_statut
{
	margin-top:10px;
	overflow:hidden;
	height:20px;
}

/*.resultLine,
{
	width:100%;
	height:100px;
	font-weight:bold;
	vertical-align: middle;
	margin-top:10px;
	vertical-align:middle;
}*/

.touitosDiv
{
	width:250px;
	height:200px;
	margin-right:10px;
	display:inline-block;
}

.resultLine:hover,.touitosDiv:hover
{
	cursor:pointer;
	border:2px solid black;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}