body{
	font-family:"Verdana";
	background-color: aliceblue;
	text-align: start;
}
::-moz-selection{
	background: pink;
}
nav
{
	height:60px;
	width:100%;
	top:0;
	right:0;
	left:0;
	position:fixed;
	z-index:100;
	padding:10px;
}
nav, .message, #profile_left_infos, #timeline #touite-box, #ongletDiv, #edit{
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items:center;
	height: 60px;
}
nav li input, nav li button{
	margin:auto;
}

nav input[type="submit"]{
	margin-top: 0px;
}
img{
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.message{
	margin-top: 20px;
	word-break: break-all;
	display: flex;
    flex-flow: row wrap;
}
.container, .info{
	display: inline-flex;
}
.container{
	flex-wrap: column wrap;
}
#editForm select{
	padding: 10px;
  border: none;
}
input:not([type="submit"]){
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input:not([type="submit"]):focus {
  border-bottom: solid 2px #dc5656;
}
fieldset{
	border:none;
}
.contenu_message, .pseudo, .date{
	padding: 0 10px;
}
form#editForm label { display:inline-block; width:140px;vertical-align: top;}
form#editForm input 
{ 
	display:inline-block;
}


#editForm .editSection textarea{
	display: inline-block;
}

.pseudo
{
	font-weight:bold;
}

#profile_picture_forUpload{
	margin-left: 140px;
}

.modif{
	width: 30%;
	padding-top: 15px;
}
.modif_left{
	margin-left: 100px;
}
.pseudo:hover
{
	text-decoration: underline;
}

.message > div:last-child {
    flex: 1;
    order:3;
}
button:disabled
{
	background:#C2D2DE;
	border : 1px solid #C2D2DE;
	cursor:default;
}
.message img{
	width: 70px;
	height: auto;
}
.message .contenu_message
   {
      flex: 0 1 auto;
 }
.followed{
		background-color:#12BDCD;
	border : 1px solid #12BDCD;
}

.modal-header{
	background-color: #dc5656;
	/*background-color:#0084B4;*/
}
#pageDisplay
{
	padding-top:150px;
	width: 1500px;
	margin:auto;
}
#touite-box{
	padding-top:30px;
}
#ongletSelect{
	float: right;
}
#timeline, #ongletDiv{
	float: left;
	width: 71%;
	margin:0 15px;
}
#ongletDiv td{
	cursor: pointer;
	border: 2px solid white;
}
#ongletDiv td:hover{
	border-bottom:2px solid #dc5656;
}
#timeline textarea, #profile_statut textarea, .modal textarea{ 
	resize:none;
	width:78%;
	margin: auto;
	height: 80px;
	border:none;
	padding: 0;
	text-align: left;
	display: block;
	padding: 9px;
	background-color: #f8f8f8;
	border-radius: 12px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.modal textarea{
	width: 90%;
	height: auto;
}
#touiterModalForm{
	margin:30px;
}
#timeline form{
	text-align: center;
}
#edit form{
	text-align: left;
}
#edit > form:nth-child(1) > fieldset:nth-child(1) > label:nth-child(4){
	display: inline-block;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-body input, .modal-body button{
	display: block;
	margin:7px auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer{
	color:red;
	text-align: center;
}


nav img
{
	width:50px;
	height:50px;
}

button, input[type="submit"]{
	background-color: #dc5656;
	cursor: pointer;
	color: white;
}
button{
	moz-transition: all 200ms linear;
}
button:hover, input[type="submit"]:hover{
	-webkit-filter: grayscale(25%); /* Chrome, Safari, Opera */
    filter: grayscale(25%);
}
button, textarea, input[type="submit"]{
	font-family:"Verdana";
	font-weight: 900;
	border:1px solid #dc5656;;
	height: 35px;
	text-align: center;
	margin-top: 20px;
}

#deleteAccount
{
	float:right;
}

a
{
	text-decoration:none;
	cursor:pointer;
	color:black;
}


ul
{
	list-style-type:none;
	margin:0;
    padding: 0;
}

ul li 
{
	display:inline-block;
}

#connectLink a
{
	margin-right:10px;
	color:white;
	font-weight:bold;
	padding:10px;
	right:100px;
	text-align:center;
}

input[type="search"]
{
  border-radius: 10px;
  text-align:center;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#profile_left_infos
{
	float:left;
	width:25%;
}

#profile_photo
{
	width:150px;
	height:150px;
	margin: 2% auto;
}

#profile_name
{
	font-size:22px;
	font-weight:bold;
	text-align:center;
}

#profile_photo img
{
	width:100%;
	height:100%;
}

#profile_pseudo
{
	font-size:16px;
	font-style:italic;
	text-align:center;
}

#profile_statut
{
	width:100%;
	word-wrap: break-word;
}

.subscribeDiv,#editDiv
{
	margin-bottom:10px;
	text-align:center;
}

#searchResult
{
	width:70%;
	margin:auto;
}

.result_photo img
{
	width:100px;
	height:100px;
}

.result_photo
{
	width:40%;
	margin:auto;
}

.result_name
{
	font-weight:bold;
	font-size:17px;
	width:100%;
	height:20px;
	text-align:center;
}

.result_pseudo
{
	font-size:13px;
	width:100%;
	height:20px;
	font-style:italic;
	text-align:center;
}

.result_statut
{
	margin-top:10px;
	overflow:hidden;
	height:20px;
}

/*.resultLine,
{
	width:100%;
	height:100px;
	font-weight:bold;
	vertical-align: middle;
	margin-top:10px;
	vertical-align:middle;
}*/

.touitosDiv
{
	width:250px;
	height:200px;
	margin-right:10px;
	display:inline-block;
}

.touitosDiv:hover
{
	font-style:italic;
	text-decoration:underline;
}

.loginError
{
	color:red;
	font-weight:bold;
}

.touitosDiv button{
	margin-top:0;
}


@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?mrx6e2');
    src:    url('fonts/icomoon.eot?mrx6e2#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mrx6e2') format('truetype'),
        url('fonts/icomoon.woff?mrx6e2') format('woff'),
        url('fonts/icomoon.svg?mrx6e2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble2:before {
    content: "\e96e";
}
.icon-home:before {
    content: "\e900";
}
.icon-undo2:before {
    content: "\e901";
}
.icon-bubble:before {
    content: "\e906";
}
.icon-bubbles2:before {
    content: "\e902";
}
.icon-user:before {
    content: "\e907";
}
.icon-user-plus:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e903";
}
.icon-wrench:before {
    content: "\e904";
}
.icon-bin2:before {
    content: "\e909";
}
.icon-star-empty:before {
    content: "\e90a";
}
.icon-star-full:before {
    content: "\e905";
}



#requestPseudo
{
	font-style:italic;
	font-weight:bold;
}

#requestPseudo:hover
{
	text-decoration: underline;
}

#profile_picture_forUpload
{
	width:200px;
	height:200px;
	cursor:pointer;
}

#whoIFollowRequest,#whoIFollow
{
	margin-top:40px;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.requestDiv
{
	display:inline-block;
	width:45%;
	vertical-align:top;
}

.discussionSection
{
	display:inline-block;
	vertical-align:top;
}

.boxHeader
{
	
}

#discussionDisplay
{
	width:70%;
	height:500px;
	text-align:center;
}

#discussionAnswer,#discussionMessage
{
	width:100%;
}

#discussionMessage
{
	margin:auto;
	overflow-y:auto; 
	height:100%;
}
.discussionMessageRow
{
	margin-bottom:20px;
}

.discussionMessageRow img
{
	width:40px;
	height:40px;
	vertical-align: middle;
  display: inline-block; 
  
}

.discussionMessageRowText
{
	margin-left:10px;
	margin-right:10px;
	padding:10px;
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.spacer
{
	clear:both;
}

.myMessage
{
	float:left;
}

.myMessage .discussionMessageRowText
{
	background-color:#e9f7f7;
	border : 1px solid #d1dede;
}

.messageFromOther .discussionMessageRowText
{
	background-color:#53c8d8;
	border : 1px solid #4ab4c2;
}

.messageFromOther
{
	float:right;
	margin-right:10px;
}

.contactRow:hover
{
	cursor:pointer;
	text-decoration:underline;
}

#privateBox
{
	position:fixed;
	bottom:0;
	right:5px;
	background-color:white;
	width:20%;
	height:80%;
	border:2px solid black;
	overflow-y:auto;
}

#privateBoxMessageDisplay
{
	position:fixed;
	bottom:0;
	right:45%;
	background-color:white;
	width:50%;
	height:80%;
	border:2px solid black;
	text-align:center;
}

#privateBoxMessageDisplay #discussionMessage
{
	height:80%;
}

#closePrivateBox
{
	margin-top:0px;
}

.privateBoxTitle
{
	text-align:center;
	margin:auto;
	font-weight:bold;
}

#openContactBox
{
	position:fixed;
	bottom:0;
	right:0;
}

#contactList
{
	overflow-y:auto;
}